<%- include partials/header %>
<div class="container text-center jumbotron">
    <h1>Campgrounds</h1>
    <p>Welcome To The Yelp Camp</p>
    <a href="/campgrounds" class="btn btn-primary btn-md" >Explore Campgrounds</a>
</div>
<%- include partials/footer %>